<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Property Management System</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <h1 class="navbar-brand text-warning font-weight-bold text-monospace">JAMESONS PROPERTY MANAGEMENT SYSTEM</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">

            </div>
        </div>

    </nav>

    <div class="container ">
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <!-- <div class="card-header ">
                            <h5 class="card-title">Products</h5>
                            <p class="card-category"></p>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addProduct">Add product</button>
                        </div> -->
                    <div class="card-body shadow-lg">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card text-center">
                                    <div class="card-header bg-info">
                                        Market out your Property Here
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" class="text-monospace">Market out your property online</h5>
                                        <p class="card-text">A platform where you can find buyers out online</p>
                                        <form action="" class="mb-2">
                                            <a href="/owner/register" class="btn btn-outline-primary">Create an
                                                account</a>
                                        </form>
                                        <form action="">
                                            <a href="/owner/login" class="btn btn-outline-primary">Login</a>
                                        </form>
                                    </div>
                                    <div class="card-footer text-muted">

                                    </div>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="card text-center">
                                    <div class="card-header bg-success">
                                        Book out a space
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title" class="text-monospace">Find your Dream Home Just a Click Away.
                                        </h5>
                                        <p class="card-text">Get amazing modern spaces all over Kenya by a
                                            click of a button.Dont be left behind</p>
                                        <form action="" class="mb-2">
                                            <a href="/registration" class="btn btn-outline-success">Create an
                                                account</a>
                                        </form>
                                        <form action="">
                                            <a href="/login" class="btn btn-outline-success">Login</a>
                                        </form>
                                    </div>
                                    <div class="card-footer text-muted">

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>